@font-face {
    font-family: 'Viaoda Libre';
    src: url("C:\Users\Хехх\Desktop\YANWU_site\fonts\ViaodaLibre-Regular.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Suisselntl';
    src: url("C:\Users\Хехх\Desktop\YANWU_site\fonts\SuisseIntl-Regular.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}


:root {
    --BG:#120F0F;
    --yanwu-white: #F1F1F1;
    --yanwu-black: #120F0F;
    --yanwu-red: #DA3C3F;
}

body {
    margin: 0 auto;
    padding: 0;
    background: var(--BG);
    color: var(--yanwu-white);
}

h1 {
    font-family: 'Viaoda Libre';
    font-size: 96px;
    font-weight: 100;
}

h3{
    font-size: 24px;
}
a {
    text-decoration: none;
    color: var(--yanwu-white);
}

.header {
    position: fixed;
    max-width: 1320px;
    width: 100%;
    padding: 16px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    box-sizing: border-box;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    gap: 32px;
    font-size: 24px;
}

footer{
    display: flex;
    justify-content: center;
}
.footer_content{
    display: flex;
    flex-direction: column;
    width: 1312px;
}

.footer_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_disclaimer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero{
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 64px;
    background-image: url("images/hero_1.png");
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    
}


.hero_content{
    display: flex;
    flex-direction: column;
}

.about{
    height: 900px;
}

.features{
    height: 900px;
}

.sections{
    width: 100%;
    height: 1990px;
    background-image: url(images/sword.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position:right;
}

.sections_content{
    padding: 64px;
}
.timeline{
    display: flex;
    justify-content: center;
}

.timeline_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.timeline_titles{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.timeline_scroll{
    display: flex;
    flex-direction: row;
    gap: 212px;
}

.timeline_scroll a{
    
}

.form{
    padding: 64px;
}

.form_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}